@CHARSET "utf-8";

/* 该css样式表文件是基于bootstrap并修改了部分样式，所有样式均以wxl-开头 */

body {
	font-family: 'Microsoft YaHei',arial,sans-serif;
}
a,a:link,:hover,a:active,a:visited {
	text-decoration: none;
}
a:hover{
	color: #4078c0;
}
.wxl-menu-btn-nocount,.wxl-btn-nocount {
	font-weight: bolder;
	float: left;
	padding: 3px 10px;	
}
.wxl-menu-btn,.wxl-btn {
	font-weight: bolder;
	float: left;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding: 3px 10px;
}
.wxl-menu-btn:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.wxl-menu-btn:after,.wxl-menu-btn-nocount:after {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  vertical-align: -2px;
  border: 4px solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.wxl-count {
  float: left;
  padding: 2px 7px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ddd;
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;		
}
.list-group-item.wxl-pop-header {
	padding-top:8px;
	padding-bottom:8px;
	z-index: 2;
  	color: #000;
  	font-weight:bold;
  	background-color: #f5f5f5;
  	border-color: #ddd;
  	cursor: default;
}
.list-group-item.wxl-pop-header:hover {
	z-index: 2;
  	color: #000;
  	font-weight:bold;
  	background-color: #f5f5f5;
  	border-color: #ddd;
  	cursor: default;	
}
.wxl-pop-close {
  display: block;
  float: right;
  color: #ccc;
  cursor: pointer;
  padding-top: 2px;	
}
.wxl-pop {
	display:block;
	z-index:25;
	position : fixed;
	width: 300px;
	margin-top:5px;
	border-radius: 6px;
	box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}
.wxl-pop a:hover{
	background-color: #4078c0;
	color: #fff;	
}
.wxl-right {
	float: right;
}
.zh-backtotop {
  position: fixed;
  bottom: 113px;
  left: 70%;
  z-index: 19;
  margin-left: 230px;	
}
.zh-backtotop .btn-action {
  display: block;
  width: 38px;
  height: 38px;
  background-color: #ddd;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  position: relative;
}
.zh-backtotop div {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}
.arrow {
  width: 0;
  height: 0;
  top: -1px;
  border: 9px solid transparent;
  border-bottom-color: #aaa;
}
.stick {
  width: 8px;
  height: 14px;
  top: 15px;
  border-radius: 1px;
  background-color: #aaa;
}